.main-body {
}
.title-background-body {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: absolute;
    z-index: 1;
    padding: 5rem 0 0 5rem;
}
.title-background-body-1 {
    font-size: 33px;
    visibility: visible;
    animation-duration: 1.5s;
    animation-name: fadeInUp;
    color: #172B47;
    font-family: "FS Magistral-Medium", "Segoe UI", serif;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.div-image-background-body {
    position: absolute;
    z-index: 0;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: end;
}
.div-image-background-footer {
    position: absolute;
    z-index: 0;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: end;
}

.image-background-body {
    width: 120vh;
}
.background-body {
    height: 900px;
}
.uses-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 800px;
}
.div-btn-use-body {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-btn-use-body {
    cursor: pointer;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-use-body {
    border-top: 2px solid #c2c2c2;
    display: flex;
    padding-top: 3rem;
}
.title-header-mobile {
    display: none;
}
.text-order-mobile {
    display: none;
}
@media screen and (max-width: 768px) {
    .info-use-body {
        width: 100%;
        height: 10rem;
        flex-direction: column;
    }
    .icon-btn-use-body {
        padding: unset;
        width: 25%;
        height: 10rem;
        justify-content: start;
    }
    .title-header {
        display: none;
    }
    .logo-header {
        font-size: 20px;
    }
    .main-header {
        padding: 1rem 1rem;
    }
    .items-app-bar2 {
        padding: unset;
    }
    .li-title-header {
        width: 100%;
        padding: unset;
    }
    .div-login-header {
        margin-left: 0;
    }
    .main-login {
        width: 100%;
    }
    .image-background-body {
        width: 85vh;
    }
    .title-background-body {
        position: unset;
        width: 100%;
        padding: unset;
    }
    .title-background-body-1 {
        font-size: 25px;
        width: 100%;
        text-align: center;
    }
    .div-image-background-body {
        position: unset;
    }
    .background-body {
        height: 800px;
    }
    .title-background-body-2 {
        text-align: center;
    }
    .h2-uses-body {
        font-size: 25px !important;
    }
    .div-image-background-footer {
        position: unset;
    }
    .introduction-body {
        margin-top: 15rem !important;
        display: flex;
        flex-direction: column;
    }
    .image-background-footer {
        width: 100%;
    }
    .title-background-footer-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .title-background-footer-2 ul {
        width: fit-content;
    }
    .title-header-mobile {
        display: flex;
    }
    .text-order-mobile {
        display: unset;
    }
    .text-order {
        display: none;
    }
    .order-main {
        flex-direction: column;
        padding: 1rem 1rem !important;
    }
    .driver-in-progress {
        display: none;
    }
    .order-main-2 {
        padding: 1rem 1rem !important;
    }
}
.text-icon-use-body {
    color: #172B47;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.text-icon-use-body-click {
    color: #EA0D34;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.text-info-use-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 2rem 1rem;
}
.title-info-use-body {
    margin-left: 1rem;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Sarabun', sans-serif;
    color: #172B47;
}
.h2-uses-body {
    font-family: "FS Magistral-Medium", "Segoe UI", serif;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    text-align: center;
    text-transform: uppercase;
    color: #172B47;
    font-size: 36px;
}
.CaretUpOutlined {
    color: #EA0D34;
    font-size: 30px;
}
.introduction-body {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 50rem;
}