.ant-menu {
    color: #fff !important;
    background: #EDEDED;
}
.ant-menu-item-selected {
    background-color: #B039CC !important;
}
.ant-menu-item {
    background-color: #EDEDED;
    color: #282828;
}
.ant-menu-item-only-child {
}
.ant-layout-sider-trigger {
    background: #EDEDED !important;
    color: #990000 !important;
}
.header-user {
    height: 10%;
    padding: 0 1rem !important;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.ant-layout-sider-has-trigger {
    height: 100vh;
    overflow: auto;
}
.choose-menu-items {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.popup-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 100%;
    height: fit-content;
}